{% extends 'base.html.twig' %}

{% block title %}SuperAdmin | List
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mt-4 d-flex justify-content-between text-center">
			<h3 class="col-lg-10">Admins</h3>
			<div class="col-lg-2 float-right">
				<a href="{{ path('app_admin_department_create') }}" class="btn btn-primary">
					Add Data
                </a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<table id="department_dt" class="ui celled table text-center align-middle" {{ stimulus_controller('department', { url: path('app_admin_department_dt') } ) }}>
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>CreateAt</th>
							<th>UpdatedAt</th>
							<th>isActive</th>
							<th>Action	</th>
						</tr>
					</thead>
                    <tbody>
                    </tbody>
				</table>
			</div>
		</div>
	{% endblock %}
