{% extends 'base.html.twig' %}

{% block title %}Admin | Edit
{% endblock %}

{% block body %}

<div class="container">
    <h4 class="mt-4">Edit User</h4>
	{{include('/super_admin/admin/_form.html.twig')}}
</div>
{% endblock %}
