{% extends 'base.html.twig' %}

{% block title %}Create a new User{% endblock %}

{% block body %}

<div class="example-wrapper container mt-4">
    <div class="row">
        <h3>Register:</h3>
        <div class="login-form bg-light mt-4 p-4">

            {{ form_start(userForm, { 'attr' : {'novalidate': 'novalidate'} }) }}
            {{ form_widget(userForm) }}
            
            <button type="submit" class="btn btn-primary mb-4">Create</button>
            
            {{ form_end(userForm) }}
        </div>
    </div>

</div>
{% endblock %}
