{% extends 'base.html.twig' %}

{% block body %}
	<div class="container border p-5 mt-5">
		<h1>Update company form</h1>

		{{ include('/super_admin/company/_form.html.twig') }}
	</div>
{% endblock %}