{% extends 'base.html.twig' %}

{% block title %}Admin | Create
{% endblock %}

{% block body %}
	<div class="container">
		<h4 class="mt-4">Create an Admin</h4>
		{{include('/super_admin/admin/_form.html.twig')}}
	</div>
{% endblock %}
