{# {% extends 'base.html.twig' %} #}
{% extends 'AdminDashboard/AdminDashboard.html.twig' %}

{% block form %}
	{# 'action': path('app_admin'),  #}
	<div class="form-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="form-container">
						<h3 class="title">Create Skill</h3>
						{# templates/task/new.html.twig #}
						{{ form_start(form, {
							'method': 'POST',
							'attr': { 'class': 'form-horizontal'}	
						}) }}

						<div class="form-group">
							{{ form_row(form.name, {
								'attr': {
									'class': 'form-control',
									'help': 'Wont'
								}
							}) }}
						</div>

						<br><br>
						<button class="btn signup" type="submit">Create</button>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
