{% extends 'superadmin/index.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css">
{% endblock %}

{% block title %}
	Super Admin | Subscription
{% endblock %}

{% block layout %}
	<div class="row">
		<div class="col-12">
			<h2>Subscription Plans</h2>
			<br>
		</div>
		<div class="col-lg-12" id="table_div">
			<table id="subscription_dt" class="ui celled table text-center align-middle w-100" {{ stimulus_controller('subscriptionTable', { url: path('app_sa_subscription_dt') } ) }}>
				<thead>
					<tr>
						<th>ID</th>
						<th>Subscription Type</th>
						<th>Duration</th>
						<th>Price</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
	<br>
{% endblock %}
