{% extends 'base.html.twig' %}

{% block title %}Admin | Skills
{% endblock %}

{% block sidebar %}
	{{ include('/Admin/components/adminsidebar.html.twig') }}
{% endblock %}
{% block navbar %}
	{{ include('/components/navbar.html.twig') }}
{% endblock %}


{% block layout %}
	<div class="container">
		<div class="row mt-4 d-flex justify-content-between text-center">
			<h3 class="col-lg-10">SKILLS</h3>
			<div class="col-lg-2 float-right">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<table id="skill_dt" class="ui celled table text-center align-middle" {{ stimulus_controller('skill', { url: path('app_admin_skill_dt') } ) }}>
					<thead>
						<tr>
							<th>Name</th>
							<th>CreateAt</th>
							<th>UpdatedAt</th>
							<th>isActive</th>
							<th>Action	</th>
						</tr>
					</thead>
                    <tbody>
                    </tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	{{ include('/components/footer.html.twig') }}
{% endblock %}