@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '~bootstrap';
@import '~datatables.net-se/css/dataTables.semanticui.css';

body {
    font-family: 'Poppins', sans-serif !important;
}
i{
    font-size: 17px;    
}
@import '~datatables.net-se/css/dataTables.semanticui.css';

table td {
    cursor: default !important;
}

.ts-control
{
    border: none;
}
