<!-- Sidebar Start -->
<aside
	class="left-sidebar">
	<!-- Sidebar scroll-->
	<div>
		<div class="brand-logo d-flex align-items-center justify-content-between">
			<a href="./index.html" class="text-nowrap logo-img">
				<img src="{{ asset('logo.png') }}" width="180" alt=""/>
			</a>
			<div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
				<i class="ti ti-x fs-8"></i>
			</div>
		</div>
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
			<ul id="sidebarnav">
				<li class="nav-small-cap">
					<i class="ti ti-dots nav-small-cap-icon fs-4"></i>
					<span class="hide-menu">Home</span>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="{{ path('app_sa_homepage') }}" aria-expanded="false">
						<span>
							<i class="ti ti-layout-dashboard"></i>
						</span>
						<span class="hide-menu">Dashboard</span>
					</a>
				</li>
				<li class="nav-small-cap">
					<i class="ti ti-dots nav-small-cap-icon fs-4"></i>
					<span class="hide-menu">Company</span>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="{{ path('app_sa_company_list') }}" aria-expanded="false">
						<span>
							<i class="ti ti-file-description"></i>
						</span>
						<span class="hide-menu">Company List</span>
					</a>
				</li>
				<li class="nav-small-cap">
					<i class="ti ti-dots nav-small-cap-icon fs-4"></i>
					<span class="hide-menu">Transaction</span>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="#" aria-expanded="false">
						<span>
							<i class="ti ti-coin"></i>
						</span>
						<span class="hide-menu">History</span>
					</a>
				</li>
				<li class="nav-small-cap">
					<i class="ti ti-dots nav-small-cap-icon fs-4"></i>
					<span class="hide-menu">Subscription Plans</span>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="#" aria-expanded="false">
						<span>
							<i class="ti ti-square-plus"></i>
						</span>
						<span class="hide-menu">Create New</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="#" aria-expanded="false">
						<span>
							<i class="ti ti-list-check"></i>
						</span>
						<span class="hide-menu">Subscription List</span>
					</a>
				</li>
			</ul>
		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->
